.goban li.sign_-1 .stone img {
background-image: url('white.png');
-webkit-filter: drop-shadow(.045em .065em 1.7px rgba(0,0,0,.45));
filter: drop-shadow(.045em .065em 1.7px rgba(0,0,0,.45));
}
.goban li.sign_1 .stone img {
background-image: url('black.png');
-webkit-filter: drop-shadow(.045em .065em 1.7px rgba(0,0,0,.45));
filter: drop-shadow(.045em .065em 1.7px rgba(0,0,0,.45));
}
.goban .row li {
background: url('inner.svg') center;
}
.goban .row li.hoshi::after {
background: #000000;
}
.goban .row:nth-child(3) li {
background-image: url('side-n.svg');
}
.goban .row:nth-last-child(3) li {
background-image: url('side-s.svg');
}
.goban .row li:first-child {
background-image: url('side-w.svg');
}
.goban .row li:last-child {
background-image: url('side-e.svg');
}
.goban .row:nth-child(3) li:first-child {
background-image: url('corner-nw.svg');
}
.goban .row:nth-child(3) li:last-child {
background-image: url('corner-ne.svg');
}
.goban .row:nth-last-child(3) li:first-child {
background-image: url('corner-sw.svg');
}
.goban .row:nth-last-child(3) li:last-child {
background-image: url('corner-se.svg');
}
.goban {
background-image: url('board.jpg');
border: none;
}
main {
background-color: #006400;
}
.goban li.sign_1 .stone::before {
background: none;
box-shadow: none;
}
.goban li.sign_-1 .stone::before {
background: none;
box-shadow: none;
}