
/* Stones */

.goban li.sign_-1.random_0 .stone img {
        background-image: url('white1.png');
    }
    .goban li.sign_-1.random_1 .stone img {
        background-image: url('white2.png');
    }
    .goban li.sign_-1.random_2 .stone img {
        background-image: url('white3.png');
    }
    .goban li.sign_-1.random_3 .stone img {
        background-image: url('white4.png');
    }
    .goban li.sign_-1.random_4 .stone img {
        background-image: url('white5.png');
}


.goban li.sign_1.random_0 .stone img {
        background-image: url('black1.png');
    }
    .goban li.sign_1.random_1 .stone img {
        background-image: url('black2.png');
    }
    .goban li.sign_1.random_2 .stone img {
        background-image: url('black3.png');
    }
    .goban li.sign_1.random_3 .stone img {
        background-image: url('black4.png');
    }
    .goban li.sign_1.random_4 .stone img {
        background-image: url('black5.png');
}

.goban li .stone::before {
	left: 3px;
	top: 3px;
	height: calc(100% - 7px);
	width: calc(100% - 7px);
}

.goban li.sign_-1 .stone::before {
	opacity: .6;
}

.goban li.sign_1 .stone::before {
	opacity: .8;
}

/* Board */

.goban {
border: 0px solid #000000;
}

.goban,
.goban .row li .stone span::before,
.goban .row li .stone span::after,
.goban .row li.cross .stone span {
        background-color: #D1AE84;
        background-image: url('board.png');
    }
    .goban .row li.triangle .stone span::after {
        border-bottom-color: #D1AE84;
}

/* UI */

main {
    background: #c8b89b;
}
	
#leftsidebar {
	background: #323238;
}

#console .input {
	background: #2b2c30;
}

#sidebar {
	background: #323238;
}

#slider {
	background: #2b2c30;
	box-shadow: 0 0 0px #111;
}
