.goban li.sign_-1 .stone img {
background-image: none;
}
.goban li.sign_1 .stone img {
background-image: none;
}
.goban li.sign_1 .stone::before {
background: none;
box-shadow: none;
}
.goban li.sign_-1 .stone::before {
background: none;
box-shadow: none;
}
.goban .row li.sign_1.point .stone::after {
background: #ff0000;
}
.goban .row li.sign_-1.point .stone::after {
background: #ff0000;
}